<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.travel.guide">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".utility.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <receiver android:name=".helper.broadcast.NotificationReceiver" />

        <activity
            android:name="com.travel.guide.ui.language.LanguageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name="com.travel.guide.ui.editPost.EditPostActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.home.HomePageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name="com.travel.guide.ui.login.signIn.SignInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="justgo.ge"
                    android:pathPrefix="/email/verify"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="justgo.ge"
                    android:pathPrefix="/email/verify"
                    android:scheme="https" />

            </intent-filter>

        </activity>

        <activity
            android:name="com.travel.guide.ui.login.signUp.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.home.profile.follow.FollowActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.gallery.MediaDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.search.SearchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.login.loggedUsers.SavedUserActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.travel.guide.ui.login.password.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.webView.WebActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.splashScreen.SplashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.travel.guide.ui.gallery.GalleryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.travel.guide.ui.editPost.filterActivity.FilterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.upload.UploadPostActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.music.ChooseMusicActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.editPost.sortActivity.SortStoriesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name=".ui.home.customerUser.CustomerProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.searchPost.SearchPostActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.login.password.ResetPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="justgo.ge"
                    android:pathPrefix="/password/reset"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="justgo.ge"
                    android:pathPrefix="/password/reset"
                    android:scheme="https" />

            </intent-filter>

        </activity>

        <activity
            android:name="com.travel.guide.ui.login.signUp.SignUpFireBaseActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.upload.tag.TagPostActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.travel.guide.ui.home.profile.editProfile.ProfileEditActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SecondAppTheme" />

    </application>

</manifest>