<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.travelguide">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.language.LanguageActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".ui.editPost.EditPostActivity"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name=".ui.home.HomePageActivity"
            android:theme="@style/SecondAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".ui.login.activity.SignInActivity">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="justgo.ge"
                    android:pathPrefix="/email/verify"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="justgo.ge"
                    android:pathPrefix="/email/verify"
                    android:scheme="https" />

            </intent-filter>

        </activity>
        <activity
            android:name=".ui.login.activity.SignUpActivity"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name=".ui.home.profile.userFollowActivity.UserFollowActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".ui.gallery.MediaDetailActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:theme="@style/SecondAppTheme" />

        <activity android:name=".ui.login.activity.SavedUserActivity" />

        <activity
            android:name=".ui.login.activity.ForgotPasswordActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".ui.webView.WebActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".ui.splashScreen.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.editPost.filterActivity.FilterActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".ui.home.profile.editProfile.ChangePhotoActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".ui.upload.UploadPostActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".ui.music.ChooseMusicActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".ui.editPost.sortActivity.SortStoriesActivity"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name=".ui.customerUser.CustomerProfileActivity"
            android:theme="@style/SecondAppTheme" />

        <activity android:name=".ui.customerUser.followerActivity.CustomerFollowerActivity" />
        <activity
            android:name=".ui.searchPost.SearchPostActivity"
            android:theme="@style/SecondAppTheme" />


        <activity
            android:name=".ui.login.activity.ResetPasswordActivity"
            android:theme="@style/SecondAppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="justgo.ge"
                    android:pathPrefix="/password/reset"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="justgo.ge"
                    android:pathPrefix="/password/reset"
                    android:scheme="https" />

            </intent-filter>

        </activity>
        <activity
            android:name=".ui.login.activity.DateActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".ui.upload.tag.TagPostActivity"
            android:theme="@style/SecondAppTheme" />

    </application>

</manifest>