<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelguide">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".opening.activity.LanguageActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".upload.activity.EditPostActivity"
            android:theme="@style/SecondAppTheme" />

        <activity android:name=".home.activity.StoryActivity" />
        <activity
            android:name=".home.activity.UserPageActivity"
            android:theme="@style/SecondAppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <!-- <data -->
                <!-- android:host="www.travelguide.ge" -->
                <!-- android:scheme="http" /> -->

                <data
                    android:host="ec2-18-156-2-129.eu-central-1.compute.amazonaws.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".login.activity.SignInActivity" />
        <activity
            android:name=".login.activity.SignUpActivity"
            android:theme="@style/SecondAppTheme" />

        <activity
            android:name=".profile.activity.UserFollowActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".upload.activity.MediaDetailActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".search.activity.SearchActivity"
            android:theme="@style/SecondAppTheme" />
        <activity android:name=".login.activity.SavedUserActivity" />
        <activity
            android:name=".login.activity.ForgotPasswordActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".login.activity.TermsAndPrivacyActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name=".opening.activity.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".upload.activity.GalleryPickerActivity"
            android:theme="@style/SecondAppTheme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".upload.activity.FilterActivity" />
        <activity
            android:name=".profile.activity.ChangePhotoActivity"
            android:theme="@style/SecondAppTheme" />
        <activity android:name=".upload.activity.DescribePostActivity"  android:theme="@style/SecondAppTheme"/>
    </application>

</manifest>